<p id="notice"><%= notice %></p>

<p>
  <b>Root:</b>
  <%= @ja_blocked_root.root %>
</p>


<%= link_to 'Edit', edit_ja_blocked_root_path(@ja_blocked_root) %> |
<%= link_to 'Back', ja_blocked_roots_path %>
